/* General Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Nav Bar Styles */
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #333;
    padding: 0 20px;
    align-items: center;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    flex: 1;  /* Takes up all available space */
    max-width: 800px; /* Adjust this width based on how much space you want the navbar to occupy */
    margin-right: auto; /* Pushes the links to the right */
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1; /* Distribute space evenly among the links */
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-links {
        flex-direction: column;
        max-width: 100%; /* Full width for mobile */
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .navbar.responsive .navbar-links {
        flex-direction: column;
    }
}
/* Footer Styles */
.footer {
    background-color: #222;
    color: #ccc;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

/* Footer content styling */
.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}

/* Styling for the footer left section */
.footer-left {
    max-width: 100%;
}

/* Logo styling */
.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

/* Footer text styling */
.footer-left p {
    line-height: 1.6;
    font-size: 14px;
    margin: 0 auto;
    max-width: 400px;
}

/* Responsive styling for footer */
@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-left p {
        font-size: 12px;
        max-width: 100%;
    }

    .footer-logo {
        width: 120px;
    }
}
