/* Footer Styles */
.footer {
    background-color: #222;
    color: #ccc;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    text-align: center;
}

.footer-left {
    max-width: 100%;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

.footer-left p {
    line-height: 1.6;
    font-size: 14px;
    margin: 0 auto;
    max-width: 400px;
}

@media (max-width: 768px) {
    .footer {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-left p {
        font-size: 12px;
        max-width: 100%;
    }

    .footer-logo {
        width: 120px;
    }
}
